
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #008037;
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size:cover;
}

.body {
  max-width: 80%;
  margin-left: 11%;
  display:block;
}

h2 {
  text-align: center;
  margin-top: 2em;
}

.navbar {
  background-color:#ffffff;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

.navfont {
  color: #008037;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}

.main-container{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.nav-logo {
  margin-top: 7px;
  color: #000000;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
}

.logo {
  max-height: 80px;
}

@media only screen and (max-width: 460px) {
  .logo { 
    width: 250px;
    transition: all 0.1s ease;
  }
  
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #008037;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}


.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #F3AD49;
}

.nav-item.active {
  color: #F3AD49;
  border: 1px solid #F3AD49;
}

.comment {
  padding-top: 5px;
}

.nav-icon {
  display: none;
}


/* Clear floats after the columns */
.row {
  position: relative;
  text-align:center;
  display: inline-block;
  width:21.8%;
  margin:1.6%;
}

.startpictures {
  display:inline-block;
  border-radius:6px;
  width: 100%;
  height: 15rem;
}

.startpictures:hover {
  opacity: 0.2;
  transition:opacity 0.5s;
}

.text-tag  {
  font-family: Nexa;
  font-weight:bolder;
  z-index: 2;
  font-size: 1.8rem;
  line-height: 2rem;
  color: var(--font_color);
  display: flex;
}

/*
Homepage
*/

.homepicone {
  width: 100%;
  padding-top: 5%;
}

.buttonnewclient {
  min-width: 5%;
  background-color:#FFE39A;
  color: #413c3c;
  border-color: rgba(255, 255, 255, 0.05);
  padding: 2%;
  margin-left: 35%;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  border-bottom: 3px #00000044 solid;
  margin-bottom: 15%;
  font-size: large;
}
.buttonnewclient:hover{
  outline: 2px solid rgba(0, 0, 0, 0.353);
}


/*
if logged in menu
*/

.buttonifloggedin {
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  font-size: 16px;
  align-items: center;
  background-color: #008037;
  border: none;
  width: 100%;
}

.buttonifloggedin:hover {
    opacity: 0.8;
    transition: all 0.25s ease;    
    background: rgb(255, 255, 255);
    cursor: pointer;
  }

.menuitemsloggedin {
  font-size: 16px;
  border-bottom: 1px solid #fff;
}

.menuloggedin {
    background: #008037;
    height: 100vh;
    width: 13%;
    margin-left: -13%;
    list-style-type: none;
    align-items: center;
  }


.emailinput {
  display: block;
  height: 50px;
  width: 50%;
  background-color: #FFFFFF;
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
  ::placeholder {
    color: #000000;
  }
  
input:hover{
  outline: 5px solid rgba(0, 0, 0, 0.107);
}

.button {
  margin-top: 10px;
  width: 30%;
  background-color:#D7EFE1;
  color: #080710;
  border-color: rgba(255, 255, 255, 0.05);
  padding: 7px;
  margin-left: 13%;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  border-bottom: 2px #00000044 solid;
}
.button:hover{
  outline: 2px solid rgba(0, 0, 0, 0.353);
}

.login-card{
  width:350px;
  border-radius: 25px;
  z-index: 15;
  top: 40%;
  left: 50%;
  margin: -100px 0 0 -100px;
  position: absolute;
}

.h2login{
  margin-left: -45%;
  color: #FFFFFF;
}

@media only screen and (max-width: 600px) {
  .login-card{
    width:350px;
    border-radius: 25px;
    z-index: 15;
    top: 40%;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
  }
}

/*
If logged in user
*/


/*
if logged admin
*/

.navloggedin {
  margin: 0;
  margin-top: 1.2em;
  padding: 0;
  width: 180px;
  background-color: #f1f1f1;
  position: absolute;
  top:80px;
  height: 100%;
  margin-left: -10%;

}

.buttonifloggedin {
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  font-size: 16px;
  align-items: center;
  background-color: #50A246;
  border: none;
  color: #fff;
}

.buttonifloggedin:hover {
    transition: all 0.25s ease;    
    background: rgb(255, 255, 255);
    cursor: pointer;
    color: #008037;
  }

.menuitemsloggedin {
  font-size: 16px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.menuloggedin {
    background: rgb(255, 255, 255);
    height: 150%;
    width: 115%;
    list-style-type: none;
    align-items: center;
  }

.cityname {
  text-align: center;
  padding:3%;
  color: #fff;
}

.buttoncity {
  margin-top: 10px;
  width: 20%;
  background-color:#fff;
  color: #080710;
  border-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  margin-left: 10%;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  border-bottom: 2px #00000044 solid;
}
.buttoncity:hover{
  outline: 2px solid rgba(0, 0, 0, 0.353);
}

.buttonclient {
  margin-top: 10px;
  width: 20%;
  background-color:#fff;
  color: #080710;
  border-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  margin-left: 40%;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  border-bottom: 2px #00000044 solid;
}
.buttonclient:hover{
  outline: 2px solid rgba(0, 0, 0, 0.353);
}

/*
Map
*/

.boxes {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.besidemap {
  color: #fff;
}


/*
responsive for mobile
*/

@media screen and (max-width: 960px) {
    .body {
      max-width: 100%;
      transition: all 0.5s ease;
      margin-left: 0%;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 80px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .comment {
      margin-left: 2px;
    }
  
    .nav-menu.active {
      background: rgb(255, 255, 255);
      left: 0px;
      top:5.1em;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .nav-item .active {
      color: rgb(255, 255, 255);
      border: none;
    }
    .nav-links {
      padding: 1.5rem;
      width: 100%;
      display: table;
    }

    .logo {
      max-width: 100px;
    }
  
    .nav-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: #008037;
    }
  
  /*
  Startpage pictures
  */
  
    .row {
      position: relative;
      text-align:center;
      display: inline-block;
      width:30%;
      height: 20%;
      margin:1.6%;
    }
  
    .startpictures {
      display:inline-block;
      border-radius:6px;
      width: 100%;
      height: 7rem;
    }
  
    .text-tag  {
      font-family: Nexa;
      font-weight:bolder;
      font-size: 100%;
      line-height: 1em;
      color: var(--font_color);
      display: flex;
    }

  /*
  responsive menu for logged in menu
  */

  .navloggedin {
    margin: 0;
    margin-top: 1.2em;
    padding: 0;
    width: 180px;
    background-color: #f1f1f1;
    position: fixed;
    top:80px;
    height: 100%;
    margin-left: -30%;
  
  }
  
  .buttonifloggedin {
    text-decoration: none;
    display:inline-table;
    padding: 20px;
    font-size: 16px;
    align-items: center;
    background-color: #50A246;
    border: none;
    color: #fff;
  }
  
  .buttonifloggedin:hover {
      transition: all 0.25s ease;    
      background: rgb(255, 255, 255);
      cursor: pointer;
      color: #008037;
    }
  
  .menuitemsloggedin {
    font-size: 16px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
  }
  
  .menuloggedin {
      background: rgb(255, 255, 255);
      height: 100vh;
      width: 115%;
      list-style-type: none;
      align-items: center;
    }
  }

#Bars {
  top: 40%;
  left: 50%;
}